<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class="row">
  <% # FULL COLUMN %>
  <div class="col-sm-12">
      <p class='col-head'>
        Bulk Discount # <%= @bulk_discount.id %>
      </p>

      <p>
        <strong>Percentage Discount: </strong><%= number_to_percentage(@bulk_discount.percentage_discount, precision: 0) %><br>
        <strong>Quantity Threshold: </strong><%= @bulk_discount.quantity_threshold %> item(s)
      </p>

      <p>
        <%= link_to 'Edit Bulk Discount', edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %>
      </p>
  </div>
</div>
