<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class='row'>
  <% # FULL COLUMN %>
  <div class='col-sm-12'>
    <p class='col-head'>
      Bulk Discount # <%= @bulk_discount.id %>
    </p>

    <table class='table-clean'>
      <tr>
        <th class='th-top pad-right'>Bulk Discount #:</th>
        <td class='top'><%= @bulk_discount.id %></td>
      </tr>

      <tr>
        <th class='th-top pad-right'>Percentage Discount:</th>
        <td class='top'><%= number_to_percentage(@bulk_discount.percentage_discount, precision: 0) %></td>
      </tr>

      <tr>
        <th class='th-top pad-right'>Quantity Threshold:</th>
        <td class='top'><%= @bulk_discount.quantity_threshold %> item(s)</td>
      </tr>
    </table>

    <p>
      <%= link_to 'Edit Bulk Discount', edit_merchant_bulk_discount_path(@merchant, @bulk_discount), class: 'btn btn-primary' %>
    </p>
  </div>
</div>
