<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<p>
  <%= link_to 'View All My Discounts', merchant_bulk_discounts_path(@merchant) %>
</p>

<div class="row">
  <% # LEFT COLUMN %>
  <div class="col-sm-6">
    <p class='col-head'>
      Favorite Customers
    </p>

    <ol>
      <% @merchant.favorite_customers.each do |customer| %>
        <section id="customer-<%= customer.id %>">
          <li>
            <%= customer.first_name %> <%= customer.last_name %> - <%= customer.top_result %> Purchases
          </li>
        </section>
      <% end %>
    </ol>
  </div>

  <% # RIGHT COLUMN %>
  <div class="col-sm-6">
    <p class='col-head'>
      Items Ready to Ship
    </p>

    <ul>
      <section id = "items_ready_to_ship" >
        <p>
          <% @merchant.ordered_items_to_ship.each do |item| %>
            <li>
              <%= item.name %> - Invoice #
              <% item.invoice_ids.uniq.each do |invoice_id| %>
                <%= link_to invoice_id, "/merchant/#{@merchant.id}/invoices/#{invoice_id}" %>
              <% end %>
              <%= item.formatted_time %>
            </li>
          <% end %>
        </p>
      </section>
    </ul>
  </div>
</div>
