<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class='row'>
  <% # LEFT COLUMN %>
  <div class='col-sm-6' id='top-five-customers'>
    <p class='col-head'>
      Top Customers
    </p>

    <div class='card'>
      <table class='table-clean'>
        <tr>
          <th>No.</th>
          <th>Customer Name</th>
          <th>Transactions</th>
          <th>Total Items</th>
          <th>Total Revenue</th>
        </tr>

        <% @merchant.top_customers.each_with_index do |customer, i| %>
          <tr id='top-customer-<%= customer.id %>'>
            <td><%= i + 1 %></td>
            <td><%= customer.full_name %></td>
            <td><%= customer.transaction_count %></td>
            <td><%= customer.total_items %></td>
            <td><%= number_to_currency(customer.total_revenue / 100.00) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% # RIGHT COLUMN %>
  <div class='col-sm-6' id='merchant-metrics'>
    <p class='col-head'>
      Merchant Metrics
    </p>

    <p class='card-white'>

    </p>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12' id='ready-to-ship'>
    <p class='col-head'>
      Items Ready to Ship
    </p>

    <div class='card-white'>
      <table class='table'>
        <tr>
          <th>Invoice Date</th>
          <th>Invoice #</th>
          <th>Item Name</th>
          <th>Item Quantity</th>
          <th>Item Status</th>
        </tr>

        <% @merchant.invoice_items_ready_to_ship.each do |invoice_item| %>
          <tr id='ship-item-<%= invoice_item.id %>'>
            <td><%= invoice_item.invoice_created_at.strftime('%m/%d/%Y') %></td>
            <td><%= link_to invoice_item.invoice_id, merchant_invoice_path(@merchant, invoice_item.invoice_id) %></td>
            <td><%= link_to invoice_item.item_name, merchant_item_path(@merchant, invoice_item.item_id) %></td>
            <td><%= invoice_item.quantity %></td>
            <td>
              <%= form_with model: [@merchant, invoice_item], local: true do |f| %>
                <%= f.select :status, InvoiceItem.statuses.keys.map { |key| [key.titleize, key.to_sym] }, { selected: invoice_item.status }, { class: 'select' } %>
                <%= f.submit 'Update', class: 'btn btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
