<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class='row'>
  <% # LEFT COLUMN %>
  <%= render partial: 'shared/top_customers', locals: { subject: @merchant } %>

  <% # RIGHT COLUMN %>
  <%= render partial: 'shared/merchant_metrics', locals: { merchant: @merchant } %>
</div>

<div class='row'>
  <div class='col-sm-12' id='ready-to-ship'>
    <p class='col-head'>
      Items Ready to Ship
    </p>

    <div class='card-white'>
      <table class='table'>
        <tr>
          <th>Invoice Date</th>
          <th>Invoice #</th>
          <th>Item Name</th>
          <th>Item Quantity</th>
          <th>Item Status</th>
        </tr>

        <% @merchant.invoice_items_ready_to_ship.each do |invoice_item| %>
          <tr id='ship-item-<%= invoice_item.id %>'>
            <td><%= invoice_item.invoice_created_at.strftime('%m/%d/%Y') %></td>
            <td><%= link_to invoice_item.invoice_id, merchant_invoice_path(@merchant, invoice_item.invoice_id) %></td>
            <td><%= link_to invoice_item.item_name, merchant_item_path(@merchant, invoice_item.item_id) %></td>
            <td><%= invoice_item.quantity %></td>
            <td>
              <%= form_with model: [@merchant, invoice_item], local: true do |f| %>
                <%= f.select :status, InvoiceItem.statuses.keys.map { |key| [key.titleize, key.to_sym] }, { selected: invoice_item.status }, { class: 'select' } %>
                <%= f.submit 'Update', class: 'btn btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
