<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class="row">
  <% # FULL COLUMN %>
  <div class="col-sm-12">
    <p class='col-head'>
      Invoice #<%= @invoice.id %>
    </p>
  </div>
</div>

<div class="row">
  <% # FULL COLUMN %>
  <div class="col-sm-12">
    <p>
      <strong>Customer: </strong>
        <%= @customer.first_name %> <%= @customer.last_name %><br>
      <strong>Created on: </strong>
        <%= @invoice.created_at.strftime("%A, %B %-d, %Y") %><br>
      <strong>Total Revenue: </strong>
        <%= number_to_currency(@invoice.total_revenue) %><br>
      <strong>Total Discounted Revenue: </strong>
        <%= number_to_currency(@invoice.total_discounted_revenue) %>
      <div id='invoice-status'>
        <strong>Status: </strong>
          <%= @invoice.status.humanize %>
      </div>
    </p>

    <p class='col-head'>Items on this Invoice</p>

    <table class="table">
        <tr>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Status</th>
        </tr>

        <% @invoice.invoice_items.each do |i| %>
          <tr>
            <td><%= i.item.name %></td>
            <td><%= i.quantity %></td>
            <td><%= number_to_currency(i.unit_price) %></td>
            <td id="the-status-<%= i.id %>">
              <%= form_with model: @invoice,
                            url: merchant_invoice_path(@merchant, @invoice),
                            method: :patch,
                            local: true do |f| %>
                <%= f.select :status, Invoice.statuses.keys, selected: "#{@invoice.status}" %>
                <%= f.submit 'Update Invoice' %>
              <% end %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
