<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class='row'>
  <div class='col-sm-12'>
    <p class='col-head' id='invoice-id'>
      Invoice #<%= @invoice.id %>
    </p>
  </div>
</div>

<div id='invoice-details' class='card-white'>
  <table class='table-clean'>
    <tr>
      <th class='th-top pad-right'>Customer:</th>
      <td class='top'><%= @invoice.customer_full_name %></td>
    </tr>

    <tr>
      <th class='pad-right'>Created on:</th>
      <td><%= @invoice.formatted_date %></td>
    </tr>

    <tr class='blank-row'>
      <td colspan='2'></td>
    </tr>

    <tr>
      <th class='pad-right'>Total Revenue:</th>
      <td><%= number_to_currency(@invoice.total_revenue / 100.00) %></td>
    </tr>

    <tr>
      <th class='pad-right'>Discounts Applied: </th>
      <td><em><%= -number_to_currency(@invoice.revenue_discount / 100.00) unless @invoice.revenue_discount == 0 %></em></td>
    </tr>

    <tr>
      <th class='pad-right'>Total Discounted Revenue: </th>
      <td><%= number_to_currency(@invoice.total_discounted_revenue / 100.00) %></td>
    </tr>

    <tr class='blank-row'>
      <td colspan='2'></td>
    </tr>

    <tr>
      <th class='pad-right'>Status: </th>
      <td id='invoice-status' class='col-auto'>
        <%= @invoice.status.titleize %>
      </td>
    </tr>
  </table>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <p class='col-head'>Items on this Invoice</p>
    <div class='card-white'>
      <table class='table'>
        <tr>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Bulk Discount</th>
          <th>Status</th>
        </tr>

        <% @invoice.invoice_items.each do |invoice_item| %>
          <tr id='ii-<%= invoice_item.id %>'>
            <td><%= invoice_item.item.name %></td>
            <td><%= invoice_item.quantity %></td>
            <td><%= number_to_currency(invoice_item.unit_price / 100.00) %></td>

            <td>
              <% if invoice_item.max_discount %>
                <%= link_to number_to_percentage(invoice_item.max_discount_percentage, precision: 0), merchant_bulk_discount_path(@merchant, invoice_item.max_discount) %>
              <% end %>
            </td>

            <td>
              <%= form_with model: [@merchant, invoice_item], local: true do |f| %>
                <%= f.select :status, InvoiceItem.statuses.keys.map { |key| [key.titleize, key.to_sym] }, { selected: invoice_item.status }, { class: 'select' } %>
                <%= f.submit 'Update', class: 'btn btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
