<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <div class='col-sm-6' id='top-customers'>
    <p class='col-head'>
      Top Customers
    </p>

    <ol>
      <% @top_customers.each do |customer| %>
        <li>
          <%= "#{customer.first_name} #{customer.last_name}" %> -
          <%= customer.number_of_transactions %> purchases
        </li>
      <% end %>
    </ol>
  </div>

<div class='col-sm-6' id='incomplete-invoices'>
  <p class='col-head'>
    Incomplete Invoices
  </p>

  <ul>
    <% @incomplete_invoices.each do |invoice| %>
      <li>
        <%= link_to "Invoice # #{invoice.id}", admin_invoice_path(invoice.id) %> - <%= invoice.formatted_date %>
      </li>
    <% end %>
  </ul>
</div>
