<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <div class='col-sm-6'>
    <p class='col-head'>
      Top 5 Customers
    </p>

    <ol>
      <% @customers.each do |customer| %>
        <li>
          <%= "#{customer.first_name} #{customer.last_name}" %> -
          <%= customer.number_of_transactions %> Purchases
        </li>
      <% end %>
    </ol>
  </div>

<div class='col-sm-6'>
  <p class='col-head'>
    Incomplete Invoices
  </p>

  <ul>
    <% @invoices.each do |invoice| %>
      <li>
        <%= link_to "Invoice # #{invoice.id}", admin_invoice_path(invoice.id) %> - <%= invoice.formatted_time %>
      </li>
    <% end %>
  </ul>
</div>
