<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <% # LEFT COLUMN %>
  <%= render partial: 'shared/top_customers', locals: { subject: @top_customers } %>

  <% # RIGHT COLUMN %>
  <div class='col-sm-6' id='admin-metrics'>
    <p class='col-head'>
      Admin Metrics
    </p>

    <div class='card-white'>
      <table class='table-clean'>
        <tr>
          <th class='pad-right'>Invoices Completed:</th>
          <td><%= @invoices.completed.size %></td>
        </tr>

        <tr>
          <th class='pad-right'>Invoices In Progress:</th>
          <td><%= @invoices.in_progress.size %></td>
        </tr>

        <tr>
          <th class='pad-right'>Invoices Cancelled:</th>
          <td><%= @invoices.cancelled.size %></td>
        </tr>

        <tr class='blank-row'>
          <td colspan='2'></td>
        </tr>

        <tr>
          <th class='pad-right'>Enabled Merchants:</th>
          <td><%= @merchants.enabled.size %></td>
        </tr>

        <tr>
          <th class='pad-right'>Disabled Merchants:</th>
          <td><%= @merchants.disabled.size %></td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class='row'>
  <div class='col-sm-12' id='incomplete-invoices'>
    <p class='col-head'>
      Incomplete Invoices
    </p>

    <div class='card-white'>
      <table class='table'>
        <tr>
          <th>Invoice Date</th>
          <th>Invoice #</th>
          <th>Total Revenue</th>
          <th>Discounts Applied</th>
          <th>Total Discounted Revenue</th>
          <th>Invoice Status</th>
        </tr>

        <% @invoices.incomplete_invoices.each do |invoice| %>
          <tr id='invoice-<%= invoice.id %>'>
            <td><%= invoice.formatted_date_short %></td>
            <td><%= link_to invoice.id, admin_invoice_path(invoice.id) %></td>
            <td><%= number_to_currency(invoice.total_revenue / 100.00) %></td>
            <td><em><%= -number_to_currency(invoice.revenue_discount / 100.00) unless invoice.revenue_discount == 0 %></em></td>
            <td><%= number_to_currency(invoice.total_discounted_revenue / 100.00) %></td>
            <td>
              <%= form_with model: invoice, url: admin_invoice_path(invoice), method: :patch do |f| %>
                <%= f.select :status, Invoice.statuses.keys.map { |key| [key.titleize, key.to_sym] }, { selected: invoice.status }, { class: 'select' } %>
                <%= f.submit 'Update', class: 'btn btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
