<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <% # LEFT COLUMN %>
  <div class='col-sm-6' id='top-customers'>
    <p class='col-head'>
      Top Customers
    </p>

    <ol class='top-list'>
      <% @top_customers.each do |customer| %>
        <div class='card'>
          <li class='top-customer'>
            <br>
            <%= "#{customer.first_name} #{customer.last_name}" %> -
            <%= customer.transaction_count %> purchases
          </li>
        </div>
      <% end %>
    </ol>
  </div>

  <% # RIGHT COLUMN %>
  <div class='col-sm-6' id='incomplete-invoices'>
    <p class='col-head'>
      Incomplete Invoices
    </p>

    <% @incomplete_invoices.each do |invoice| %>
      <p class='card-white'>
        <%= link_to "Invoice # #{invoice.id}", admin_invoice_path(invoice.id) %><br>
        Invoice Date: <%= invoice.formatted_date %>
      </p>
    <% end %>
  </div>
</div>
