<%= render partial: 'shared/admin_dashboard_nav' %>

<div class="row">
  <p class='col-sm-5 col-head'>
    Top 5 Customers
  </p>

  <p class='col-sm-5 col-head'>
    Incomplete Invoices
  </p>
</div>

<div class="row">
  <div class='col-sm-5'>
    <ol>
      <% @customers.each do |c| %>
        <li>
          <%= c.first_name + ' ' + c.last_name %> -
          <%= c.number_of_transactions %> Purchases
        </li>
      <% end %>
    </ol>
  </div>

  <div class='col-sm-5'>
    <ul>
      <% @invoices.each do |i| %>
        <li>
          <%= link_to "Invoice # #{i.id}", admin_invoice_path(i.id) %> - <%= i.created_at.strftime("%A, %B %d, %Y") %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
