<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <div class='col-sm-12'>
    <p class='col-head'>
      Invoice #<%= @invoice.id %>
    </p>
  </div>
</div>

<div id='invoice-details' class='col-6'>
  <table class='table-invoice'>
    <tr>
      <th class='th-top pad-right'><h4>Customer:</h4></th>
      <td class='top'>
        <%= @invoice.customer_full_name %><br>
        <%= @invoice.customer.address %><br>
        <%= "#{@invoice.customer.city}, #{@invoice.customer.state} #{@invoice.customer.zip}" %>
      </td>
    </tr>

    <tr class='blank_row'>
      <td colspan='2'></td>
    </tr>

    <tr>
      <th class='pad-right'>Created on:</th>
      <td><%= @invoice.formatted_date %></td>
    </tr>

    <tr class='blank_row'>
      <td colspan='2'></td>
    </tr>

    <tr>
      <th class='pad-right'>Total Revenue:</th>
      <td><%= number_to_currency(@invoice.total_revenue / 100.00) %></td>
    </tr>

    <tr>
      <th class='pad-right'>Total Discounts: </th>
      <td><em><%= number_to_currency(@invoice.revenue_discount / 100.00) %></em></td>
    </tr>

    <tr>
      <th class='pad-right'>Total Discounted Revenue: </th>
      <td><%= number_to_currency(@invoice.total_discounted_revenue / 100.00) %></td>
    </tr>

    <tr class='blank_row'>
      <td colspan='2'></td>
    </tr>

    <tr>
      <th class='pad-right'>Status: </th>
      <td id='status-update-<%= @invoice.id %>' class='col-auto'>
        <%= form_with model: @invoice, url: admin_invoice_path(@invoice), method: :patch do |f| %>
          <%= f.select :status, Invoice.statuses.keys.map { |key| [key.titleize, key.to_sym] }, { selected: @invoice.status }, { class: 'select' } %>
          <%= f.submit 'Update', class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<div id='invoice-items'>
  <p class='col-head'>Items on this Invoice</p>

  <table class='table'>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Status</th>
    </tr>

    <% @invoice.invoice_items.each do |invoice_item| %>
      <tr>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= number_to_currency(invoice_item.unit_price / 100.00) %></td>
        <td><%= invoice_item.status.titleize %></td>
      </tr>
    <% end %>
  </table>
</div>
