<div class='col-sm-6' id='merchant-metrics'>
  <p class='col-head'>
    Merchant Metrics
  </p>

  <div class='card-white'>
    <table class='table-clean'>
      <tr>
        <th class='pad-right'>Total Revenue:</th>
        <td><%= number_to_currency(subject.invoice_items_total_revenue / 100.00) %></td>
      </tr>

      <tr>
        <th class='pad-right'>Discounts Applied:</th>
        <td><em>-<%= number_to_currency(subject.invoice_items_revenue_discount / 100.00) %></em></td>
      </tr>

      <tr>
        <th class='pad-right'>Total Discounted Revenue:</th>
        <td><%= number_to_currency(subject.invoice_items_total_discounted_revenue / 100.00) %></td>
      </tr>

      <tr>
        <th class='pad-right'>Total Items Sold:</th>
        <td><%= subject.total_items_sold %></td>
      </tr>

      <tr>
        <th class='pad-right'>Top Revenue Day:</th>
        <td><%= subject.top_revenue_day %></td>
      </tr>
    </table>
  </div>
</div>
