<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <% # LEFT COLUMN %>
  <%= render partial: 'shared/top_merchants', locals: { subject: @merchants } %>

  <% # RIGHT COLUMN %>
  <div class='col-sm-6' id='admin-metrics'>
    <p class='col-head'>
      Admin Metrics
    </p>

    <div class='card-white'>
      <table class='table-clean'>
        <tr>
          <th class='pad-right'>Enabled Merchants:</th>
          <td><%= @merchants.enabled.size %></td>
        </tr>

        <tr>
          <th class='pad-right'>Disabled Merchants:</th>
          <td><%= @merchants.disabled.size %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class='row'>
  <p>
    <%= link_to 'Create New Merchant', new_admin_merchant_path, class: 'btn btn-primary' %>
  </p>

  <section id='enabled-merchants' class='col-sm-6'>
    <p class='col-head'>Enabled Merchants</p>

    <% @merchants.enabled.each do |merchant| %>
      <section id='merchant-<%= merchant.id %>' class='row col-sm-12'>
        <div class='col-auto'>
          <%= button_to 'Disable', admin_merchant_status_path(merchant), method: :patch, params: { status: 'disabled' }, class: 'btn btn-primary mt' %><br>
        </div>

        <div class='col pt card-white'>
          <%= link_to merchant.name, admin_merchant_path(merchant) %>
        </div>
      </section>
    <% end %>
  </section>

  <section id='disabled-merchants' class='col-sm-6'>
    <p class='col-head'>Disabled Merchants</p>

      <% @merchants.disabled.each do |merchant| %>
        <section id='merchant-<%= merchant.id %>' class='row col-sm-12'>
          <div class='col-auto'>
            <%= button_to 'Enable', admin_merchant_status_path(merchant), method: :patch, params: { status: 'enabled' }, class: 'btn btn-primary mt' %><br>
          </div>

          <div class='col pt card-white'>
            <%= link_to merchant.name, admin_merchant_path(merchant) %>
          </div>
        </section>
      <% end %>
    </ul>
  </section>
</div>
