<%= render partial: 'shared/admin_dashboard_nav' %>

<%= link_to 'Create New Merchant', new_admin_merchant_path %><br><br>

<div class='row'>

  <% # LEFT COLUMN %>
  <div class='col-sm-6'>
    <p class='col-head'>
      Top Merchants
    </p>

    <ol id='top-five-merchants'>
      <% @merchants.top_merchants_by_revenue.each do |merchant| %>
        <div id='top-merchant-<%= merchant.id %>'>
          <li>
            <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %><br>
            <%= number_to_currency(merchant.revenue / 100.00) %> in sales
          </li>
        </div>

        <div id='top-day-<%= merchant.id %>'>
          <p>
            Top selling date for <%= merchant.name %> was <%= merchant.top_revenue_day %>
          </p>
        </div>
      <% end %>
    </ol>
  </div>

  <% # RIGHT COLUMN %>
  <div class='col-sm-6'>
    <section id='enabled-merchants'>
      <p class='col-head'>Enabled Merchants</p>

      <% @merchants.enabled.each do |merchant| %>
        <section id='merchant-<%= merchant.id %>' class='row'>
          <div class='col-auto'>
            <%= button_to 'Disable', admin_merchant_status_path(merchant), method: :patch, params: { status: 'disabled' }, class: 'btn btn-primary' %><br>
          </div>

          <div class='col'>
            <%= link_to merchant.name, admin_merchant_path(merchant) %>
          </div>
        </section>
      <% end %>
    </section>

    <section id='disabled-merchants'>
      <p class='col-head'>Disabled Merchants</p>

        <% @merchants.disabled.each do |merchant| %>
          <section id='merchant-<%= merchant.id %>' class='row'>
            <div class='col-auto'>
              <%= button_to 'Enable', admin_merchant_status_path(merchant), method: :patch, params: { status: 'enabled' }, class: 'btn btn-primary' %><br>
            </div>

            <div class='col'>
              <%= link_to merchant.name, admin_merchant_path(merchant) %>
            </div>
          </section>
        <% end %>
      </ul>
    </section>
  </div>
</div>
