<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class='row'>
  <div class='col-sm-12'>
    <p class='col-head'>
      My Items
    </p>
  </div>
</div>

<div class='row'>
  <p><%= link_to "Create New Item", new_merchant_item_path(@merchant) %></p>
</div>

<div class='row'>
  <% # LEFT COLUMN %>
  <div class='col-sm-6'>
    <p class='col-head'>Top Items</p>

    <div id='top-items'>
      <ol>
        <% @merchant.top_items_by_revenue.each do |item| %>
          <li><%= link_to "#{item.name}", merchant_item_path(@merchant, item)  %> -
            <%= number_to_currency(item.total_revenue / 100.00) %> in sales</li>
          <p>Top selling date for <%= item.name %> was <%= item.best_day %> </p>
        <% end %>
      </ol>
    </div>
  </div>

  <% # RIGHT COLUMN %>
  <div class='col-sm-6'>
    <section id="enabled-items">
      <p class='col-head'>Enabled Items</p>

      <% @enabled_items.each do |item| %>
        <div id='item-<%= item.id %>' class='row'>
          <div class='col-auto'>
            <%= button_to "Disable", merchant_item_status_path(@merchant, item), method: :patch, params: {status: "disabled"}, class: 'btn btn-primary' %><br>
          </div>

          <div class='col'>
            <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
          </div>
        </div>
      <% end %>
    </section>

    <section id='disabled-items'>
      <p class='col-head'>Disabled Items</p>

      <% @disabled_items.each do |item| %>
        <div id='item-<%= item.id %>' class='row'>
          <div class='col-auto'>
            <%= button_to 'Enable', merchant_item_status_path(@merchant, item), method: :patch, params: {status: 'enabled'}, class: 'btn btn-primary' %><br>
          </div>

          <div class='col'>
            <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
          </div>
        </div>
      <% end %>
    </section>
  </div>
</div>
