<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class='row'>
  <% # LEFT COLUMN %>
  <div class='col-sm-12' id='top-items'>
    <p class='col-head'>
      Top Items
    </p>

    <div class='card'>
      <table class='table-clean'>
        <tr>
          <th>No.</th>
          <th>Item Name</th>
          <th>Total Revenue</th>
          <th>Total Sold</th>
          <th>Transaction Count</th>
          <th>Top Revenue Day</th>
        </tr>
        <% @merchant.top_items.each_with_index do |item, i| %>
          <tr id='top-item-<%= item.id %>'>
            <td><%= i + 1 %></td>
            <td><%= link_to item.name, merchant_item_path(@merchant, item) %></td>
            <td><%= number_to_currency(item.total_revenue / 100.00) %></td>
            <td><%= item.total_items %></td>
            <td><%= item.transaction_count %></td>
            <td><%= item.top_revenue_day %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class='row'>
  <p><%= link_to "Create New Item", new_merchant_item_path(@merchant), class: 'btn btn-primary' %></p>

  <% # LEFT COLUMN %>
  <div class='col-sm-6'>
    <section id="enabled-items">
      <p class='col-head'>Enabled Items</p>

      <% @enabled_items.each do |item| %>
        <div id='item-<%= item.id %>' class='row'>
          <div class='col-auto'>
            <%= button_to "Disable", merchant_item_status_path(@merchant, item), method: :patch, params: {status: "disabled"}, class: 'btn btn-primary mt' %><br>
          </div>

          <div class='col pt card-white'>
            <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
          </div>
        </div>
      <% end %>
    </section>
  </div>

  <% # RIGHT COLUMN %>
  <div class='col-sm-6'>
    <section id='disabled-items'>
      <p class='col-head'>Disabled Items</p>

      <% @disabled_items.each do |item| %>
        <div id='item-<%= item.id %>' class='row'>
          <div class='col-auto'>
            <%= button_to 'Enable', merchant_item_status_path(@merchant, item), method: :patch, params: {status: 'enabled'}, class: 'btn btn-primary mt' %><br>
          </div>

          <div class='col pt card-white'>
            <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
          </div>
        </div>
      <% end %>
    </section>
  </div>
</div>
