<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class='row'>
  <div class='col-sm-12'>
    <p class='col-head'>
      <%= @item.name %>
    </p>

    <table class='table-clean'>
      <tr>
        <th class='th-top pad-right'>Price:</th>
        <td class='top'><%= number_to_currency(@item.unit_price / 100.00) %></td>
      </tr>

      <tr>
        <th class='th-top pad-right'>Description:</th>
        <td class='top'><%= @item.description %></td>
      </tr>
    </table>

    <%= link_to 'Update Item', edit_merchant_item_path(@merchant, @item), class: 'btn btn-primary' %>
  </div>
</div>
