<!DOCTYPE html>
<html>
  <head>
    <title>Little Etsy Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% if type == 'alert' %>
        <div class='alert alert-danger'>
          <%= message %>
        </div>
      <% elsif type == 'notice' %>
        <div class='alert alert-success'>
          <%= message %>
        </div>
      <% else %>
        <div class='alert alert-warning'>
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <div class='top-container'>
      <h1 class='title'>
        <%= link_to 'Little Esty Shop', root_path, class: 'title' %>
      </h1>

      <%= yield %>
    </div>
    <footer>
      <hr>
      <div class='row'>
        <div class='col-auto'>
          <%= image_tag 'GitHub-Mark-64px.png', alt: 'GitHub Logo' %>
        </div>

        <div class='col'>
          GitHub Repository: <%= link_to @repository.repo_name, @repository.url %>
        </div>
      </div>
    </footer>
  </body>
</html>
